* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  .Velkommen {
    font-size: 10vw;
    justify-content: center;
    padding: 1vw;
  }
  .mig2{
    max-width: 90%;
    height: auto;
    min-width: 200px;
  }
  .container{
    font-size: 1vw;
    display: flex;
    justify-content: center;
  }
  .CustomPadding{
    padding: 2vw;
  }
  .CustomPadding2{
    padding: 7vw;
  }
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 2s ease-out;
    background-color: #ffffff;
  }
  .show{
    max-height: 500px;
  }
  .button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1 {
    background-color: white; 
    color: black;
    max-width: 70vw;
    display: block;
    justify-content: center;
  }
  .button1:hover {
    background-color: #04AA6D;
    color: black; 
  }
  @media screen and (max-width: 767px){
    .mig2 {
      min-width: 100px;
      max-width: 201px;
    }
    .CustomPadding2{
      padding: 3.5vw;
    }
  }
